<%= form_for(@etsy_sales_aggregate) do |f| %>
  <% if @etsy_sales_aggregate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etsy_sales_aggregate.errors.count, "error") %> prohibited this etsy_sales_aggregate from being saved:</h2>

      <ul>
      <% @etsy_sales_aggregate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aggregate %><br />
    <%= f.text_field :aggregate %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.number_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :country_name %><br />
    <%= f.text_field :country_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
